body {
	text-align: center;
	font-family: helvetica, sans-serif;
	cursor: default;
}

table {
	margin: 50px auto;
}

#header {
  margin-top: -30px;
  margin-bottom: 60px;
}

h1 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 50px;
  letter-spacing: 2px;
  color: #474545;
}

td {
  box-sizing: border-box;
  width: 370px;
  padding-right: 30px;
}

td p {
  font-family: 'Londrina Shadow', cursive;
  font-size: 28px;
  letter-spacing: 2px;
  color: #474545;
}

#single_player p, #two_player p {
  font-size: 22px;
  padding: 7px;
}

#container {
	width: 370px;
	height: 370px;
}

.box {
	float: left;
	width: 120px;
	height: 120px;
	font-size: 90px;
	padding: 10px;
	box-sizing: border-box;
}

#one, #two, #four, #five, #seven, #eight {
	border-right: 2px dashed #474545;
}

#four, #five, #six, #seven, #eight, #nine {
	border-top: 2px dashed #474545;
}

.button {
  box-sizing: border-box;
	margin: 40px auto;
	background: #EB1C74;
	width: 110px;
	border-radius: 30px;
	font-size: 30px;
	letter-spacing: 4px;
	cursor: pointer;
}

.button p {
	padding: 5px;
  color: #FFFFFF;
}

#game_state {
  padding-bottom: 220px;
  font-family: 'Londrina Shadow', cursive;
  font-size: 28px;
  letter-spacing: 2px;
  color: #474545;
}



